@media screen and (max-width:768px) {
    .mainbox>header {
        width: 100%;
        display: block;
        position: static;
        height: auto;
    }

    .romano-daniels {
        display: none;
    }

    nav {
        width: 100% !important;
        z-index: 3;
        height: 250px;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }

    h3 {
        font-size: 26px;
    }

    .contact {
        padding: 0;
        background-color: white;
    }

    .contact:hover {
        color: black;
        background-color: white;
        outline: none;
    }

    .welcome {
        width: 100%;
        height: 636px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome-stack {
        width: 345px;
        height: 212px;
        position: absolute;
        top: 30px;
        left: 20px;
        display: flex;
        justify-content: space-around;
        align-items: start;
    }

    .h53 {
        font-size: 53px;
    }

    .p-13 {
        font-size: 13px;
    }

    /* our-serivce */
    .our-services {
        width: 100%;
        height: 1216px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .our-services-stack {
        width: 429px;
        height: 1039px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .h38 {
        font-size: 38px;
    }

    .our-services-stack4 {
        width: 100%;
        height: 828px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .our-services-stack4-cards {
        width: 100%;
        height: 276px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    /* .our-services-stack4-cards-input {
        width: 100%;
        height: 100px;
    } */
    /* aq morcha service */
    /* aq daviwyet about */
    .about {
        width: 100%;
        height: 562px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-section {
        position: static;
        width: 382px;
        height: 360px;
        justify-content: space-between;
        align-items: start;
        /* margin: 10px; */
    }

    /* clients */
    .clients {
        width: 100%;
        height: 275px;
    }

    .clients-stack {
        width: 329px;
        height: 168px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .clients-stack>div {
        flex-basis: 106px;
        height: 68px;
    }

    /* projects */
    .projects {
        width: 100%;
        height: 713px;
        /* background-color: blue; */
    }

    .projects {
        width: 100%;
        height: 790px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects-stack {
        width: 375px;
        height: 713px;
    }

    .projects-stack3 {
        display: none;
    }

    .projects-stack3-carousel {
        display: block;
        width: 100%;
        height: 470px;
    }

    .carousel-img {
        height: 420px;
    }

    /* promotional */
    .promotional {
        width: 100%;
        height: 176px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .promotional-stack {
        width: 361px;
        height: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    /* footer */
    footer {
        margin-top: 20px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .footer1 {
        width: 100%;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .footer1-stack {
        width: 100%;
        height: 492px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .footer1-stack1 {
        width: 100%;
        height: 127px;

    }

    .footer1-stack2 {
        width: 100%;
        height: 462px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .input1 {
        width: 100%;
        height: 136px;
    }

    .input2 {
        width: 100%;
        height: 148px;
    }

    .input3 {
        height: 117px;
    }

    .footer2 {
        width: 100%;
        height: 174px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .footer2-stack1 {
        width: 100%;
        height: 83px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .footer2-stack2 {
        width: 100%;
        height: 26px;
    }

    /* phone-index.html-end */
    /* services-phone */
    .services {
        border: 2px solid orange;
        width: 100%;
        height: 1048px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .services>div {
        width: 80%;
    }

    .services-img {
        height: 352px;
    }

    .services-stack {
        height: 605px;
    }






    /* projects-link */
    .projects-gallery1 {
        width: 100%;
        height: 458px;
    }

    .projects-gallery1-stack {
        width: 329px;
        height: 134px;
        margin-bottom: 47px;
    }

    .projects-gallery1-stack2 {
        width: 320px;
        height: 92px;
    }

    .projects-gallery2 {
        height: 2229px;
        width: 100%;
    }

    .projects-gallery2-stack {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .p-g-img {
        /* row-gap: 50px; */
        height: 323px;
        width: 90%;
    }

    .p14 {
        color: white;
        font-style: 14px;
        font-family: helvetica;
    }













}

/* ipad - აიპადისთვის */
@media screen and (min-width:769px) and (max-width:1024px) {
    .mainbox>header {
        justify-content: start;
        position: sticky;
        height: 67px;
        background-color: white;
    }

    .romano-daniels {
        margin-right: 20px;
    }

    nav {
        z-index: 3;
        width: 80% !important;

    }

    /* aq morcha hederi */
    /* aq viwyebt welcomes */
    .welcome {
        width: 100%;
        height: 616px;
    }

    .welcome-stack {
        position: absolute;
        top: 374px;
        left: 31px;
        width: 693px;
        height: 195px;
    }

    .h56 {
        font-size: 56px;
    }

    h3 {
        font-size: 30px;
    }

    .p-17 {
        font-size: 17px;
    }

    .welcome-stack2 {
        width: 347px;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    /* our-serivce */
    .our-services {
        width: 100%;
        height: 1650px;
        display: flex;
    }

    .our-services-stack {
        width: 690px;
        height: 1457px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .our-services-stack>div {
        margin-bottom: 5px;
    }

    .h40 {
        font-size: 40px;
    }

    .our-services-stack4 {
        height: 1191px !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .our-services-stack4-cards {
        width: 100%;
        height: 397px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .our-services-stack4-cards-input {
        width: 100%;
        height: 100px;
    }

    /* aq morcha service */
    /* aq daviwyet about */
    .about {
        width: 100%;
        height: 470px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-section {
        width: 597px;
        height: 315px;
        justify-content: space-between;
        align-items: start;
        margin: 0;
    }

    /* clients */
    .clients {
        width: 100%;
        height: 274px;
    }

    .clients-stack {
        width: 753px;
        height: 155px;
        column-gap: 10px;
    }

    .clients-sstack>div {
        width: 132px;
        height: 105px;
    }

    /* projects */
    .projects {
        width: 100%;
        height: 725px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects-stack {
        width: 790px;
        height: 632px;
    }

    .projects-stack3 {
        display: none;
    }

    .projects-stack3-carousel {
        display: block;
        width: 100%;
        height: 320px;
    }

    .carousel-img {
        height: 320px;
    }

    /* footer-ipad */
    footer {
        width: 100%;
        height: 451px;
    }

    .footer1 {
        width: 100%;
        height: 253px;
    }

    .footer1-stack {
        width: 869px;
        height: 177px;
    }

    .footer1-stack1 {
        height: 100%;
        width: 155px;
    }

    .footer1-stack2 {
        height: 182px;
        width: 482px;
    }

    .input1 {
        width: 174px;
    }

    .input2 {
        width: 120px;
    }

    .footer2 {
        width: 100%;
        height: 153px;
        align-items: end;
    }

    .footer2-stack1 {
        width: 168px;
        height: 93px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
    }

    .footer2-stack2 {
        width: 371px;
        height: 26px;
    }

    /* -ipad-index.html-end */
    /* services */
    .header {
        position: absolute !important;
    }

    .services {
        width: 100%;
        height: 1227px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .services>div {
        width: 690px;
    }

    .services-img {
        height: 738px;
    }

    .sercive-stack {
        height: 403px;
    }












    /* projects */
    .projects-gallery1 {
        width: 100%;
        height: 459px;
    }

    .projects-gallery1-stack {
        width: 659px;
        height: 78px;
        margin-bottom: 63px;
    }

    .projects-gallery1-stack2 {
        width: 100%;
        height: 48px;
    }

    .projects-gallery2 {
        height: 365px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .projects-gallery2-stack {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-content: center;
    }

    .p-g-img {
        width: 30%;
        height: 170px;
    }

}